* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* *********Login Page********* */

.loginWholePage {
  min-height: 100vh;
  background-color: white;
  padding: 40px 20px;
}

.loginWholePage > .logoSection {
  text-align: center;
  margin-bottom: 60px;
}

.mainLoginSection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.loginBox {
  /* background-color: blue; */
  /* background-color: rgb(1, 255, 158); */
  background: linear-gradient(to right, rgb(1, 255, 158), rgb(8, 8, 175));
  width: 30%;
  padding: 30px 15px;
  border-radius: 25px;
}

.loginBox > h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.formContainer > label {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 20px;
}

.formContainer > label > p {
  width: 25%;
  text-align: center;
}

.formContainer > label > input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid white;
  padding: 5px 10px 10px;
  background: transparent;
  outline: none;
  color: white;
  font-size: 18px;
}

.loginBtnDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.loginBtnDiv > button {
  font-size: 17px;
  border-radius: 20px;
  padding: 6px;
  width: 150px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: royalblue;
  background-color: white;
  cursor: pointer;
}

.loginBtnDiv > button:hover {
  box-shadow: 0px 0px 5px white;
  background-color: rgba(65, 105, 225, 0.8);
  color: white;
}

.loginWholePage1 {
  padding: 160px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* background: linear-gradient(to right, rgba(1, 255, 158, 0.726), rgba(8, 8, 175, 0.788)); */
  background-color: #015e8b;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/loginPageImg3.jpg"); */
  /* background-image: url("../images/loginPageImg3.jpg"); */
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginPageMainContainer1 {
  align-self: stretch;
  /* border: 1px solid #707070; */
  /* box-shadow: -3px -3px 10px rgb(0, 0, 0, 0.7), 3px 3px 10px rgb(0, 0, 0, 0.7); */
  box-shadow: 3px 3px 10px #3e413c;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-radius: 25px; */
}

.loginLeftSection {
  align-self: stretch;
  width: 50%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  background-color: white;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/loginPageImg3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* border-radius: 25px 0px 0px 25px; */
}

.loginRightSection {
  align-self: stretch;
  width: 50%;
  background: url("../images/loginPageImg_2.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 0px 25px 25px 0px; */
  position: relative;
}

.loginLeftSection .logoSection1 {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}
.loginLeftSection .logoSection1 > img {
  width: 50%;
}
.loginBox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.loginBox1 > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  /* color: #37B71D; */
  /* color: #37b71dc4; */
  /* color: #6c6c6c; */
  color: #555;
  margin-bottom: 130px;
  padding: 50px 0 40px;
  /* box-shadow: 0px 3px 10px rgba(175, 175, 175, 0.685); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 0px;
}
.loginBox1 > h1 > i {
  font-size: 30px;
  /* background: -webkit-linear-gradient(rgb(1, 255, 158), rgb(8, 8, 175));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  margin-right: 15px;
  color: #37b71d96;
}
.formContainer1 {
  /* margin: auto; */
  /* margin-top: 180px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
  padding: 0px 15px;
}
.formContainer1 > label {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
  margin: 0 auto;
  margin-bottom: 40px;
  border: 3px solid #c2c2c286;
  /* --tw-ring-color: #c2c2c25d;
  box-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color); */
}
/* .formContainer1 > label > p {
  width: 40%;
  color: #6c6c6cbb;
  text-align: center;
  font-weight: bold;
} */

.formContainer1 > label i {
  font-size: 15px;
  color: #5b6d5a93;
  cursor: pointer;
}
.formContainer1 > label > input {
  border: none;
  /* padding: 5px 10px; */
  background: transparent;
  outline: none;
  color: #6c6c6c;
  font-size: 18px;
}
.loginBtnDiv1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 30px;
}
.loginBtnDiv1 > button {
  font-size: 17px;
  border-radius: 5px;
  padding: 12px;
  width: 350px;
  text-align: center;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #015e8b;
  box-shadow: 0px 0px 5px #015e8b;
  cursor: pointer;
}
.loginBtnDiv1 > button:hover {
  box-shadow: 3px 3px 10px #b3d3d3c9;
}

.loginIcon {
  position: absolute;
  bottom: 10px;
  right: 30px;
  /* background: linear-gradient(rbga(255, 255, 255, 0.5),rbga(255, 255, 255, 0.5)); */
  /* color: white; */
}

.wenergyLogoDiv {
  text-align: center;
  padding: 60px 0;
  margin-bottom: 50px;
}

.loginCopyRightDiv {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

/* ----/Landing Page/---- */

.landingPageWholePage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 15px;
  /* background-color: #015d8b */
}

.landingPageMainContainer {
  border: 2px solid #777;
  border-radius: 20px;
  box-shadow: -5px -5px 15px black, 5px 5px 15px black;
  padding: 30px 20px;
  width: 30%;
  background-color: white;
}
.landingPageListContainer > div {
  box-shadow: -2px -2px 5px black, 2px 2px 5px black;
  /* border: 2px solid #999; */
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  margin: 20px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #015e8b; */
}
.landingPageListContainer > div > p {
  font-weight: bold;
  font-size: 24px;
  color: #555;
}

/* ----/ Landing Page 2 /---- */

.landingPageBody {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/loginPageImg3.png"); */
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/loginPageImg3.png"); 
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
}

.landingPageWholePage2 {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0;
}

.landingPageWholePage2 > section {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  margin: 0 auto;
}

.landingPageWholePage2 > section > div {
  height: 75px;
  background-color: whitesmoke;
  width: 100%;
}

.landingPageTopSection {
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/loginPageImg3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; */
  background: transparent;
  min-height: 55vh;
  /* border: 2px solid whitesmoke; */
  width: 100%;
  /* margin: 50px auto 30px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.landingPageTopSection > section, .landingPageBottomSection .siders {
  width: 5.5%;
  background-color: whitesmoke;
  align-self: stretch;
}
.landingPageTopSection > div {
  color: whitesmoke;
  font-size: 40px;
  flex-grow: 1;
  text-align: center;
}

.landingPageBottomSection {
  width: 100%;
  /* margin: 30px auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.landingPageBottomSection > div {
  width: 15%;
  height: 200px;
  font-size: 24px;
  font-weight: bold;
  /* border: 2px solid whitesmoke; */
  padding: 5px 15px;
  text-align: center;
  /* margin-bottom: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  /* position: relative; */
}

.landingPageBottomSection > section {
  width: 3.5%;
  background-color: whitesmoke;
  align-self: stretch;
}

.landingPageWholePage2 > div {
  background-color: whitesmoke;
  width: 100%;
  height: 72px;
}

.landingPageCopyrightSection {
  font-size: 16px;
  position: absolute;
  bottom: 5px;
  right: 150px;
}

/* ----- User's Page ----- */

.usersPage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----- Side Bar ----- */
.usersPageSideBar {
  width: 18%;
  align-self: stretch;
  background-color: #015e8b;
  /* background-color: #1F51FF; */
  padding: 0 10px;
  box-shadow: 3px 0px 10px rgb(0 0 0 / 50%);
  z-index: 20;
  border-right: 2px solid #015e8b;
}
.usersPageSideBar > h1 {
  color: white;
  text-align: center;
  font-size: 28px;
  margin: 40px auto 30px;
  word-spacing: 0.375rem;
}
.usersPageSideBar > h1 > span {
  font-size: 40px;
}
.sideBarListContainer {
  margin-top: 50px;
  /* border-bottom: 1px solid rgba(189, 189, 189, 0.507);
    border-top: 1px solid rgba(189, 189, 189, 0.507); */
}
.sideBarListContainer > div {
  height: 80px;
  /* border-bottom: 1px solid rgba(189, 189, 189, 0.507);
  border-top: 1px solid rgba(189, 189, 189, 0.507); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 200ms;
}
.sideBarListContainer > div:hover {
  background-color: white;
  color: #015e8b;
}

/* ----- Users Main Section ----- */

.usersPageMainPanel {
  width: 82%;
  align-self: stretch;
  background-color: white;
}

.topHeaderSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 25px;
  /* margin-bottom: 20px; */
}

.adminLoginProfileDiv {
  width: 320px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
  /* color: #1E293B; */
  border-radius: 15px;
}
.adminLoginProfileDiv > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profilePicIconDiv {
  width: 45px;
  height: 45px;
  background-color: #94a3b8;
  border-radius: 50%;
  border: 1px solid white;
}
.profilePicIconDiv > i {
  color: white !important;
}
.adminLoginProfileDiv h3 {
  color: #015e8b;
  margin: 0 10px;
  font-size: 18px;
  margin-right: auto;
}
.adminLoginProfileDiv i {
  color: #015e8b;
}

.usersBodySection {
  padding: 10px 15px;
  background-color: rgba(238, 238, 238, 0.582);
  /* background-color: #f8faff;  */
}

.usersBodySection > div {
  background-color: rgba(238, 238, 238, 0.582);
}

.usersBodySection > div > h1 {
  font-size: 40px;
  color: #555;
  text-align: center;
  margin-bottom: 40px;
  padding-top: 30px;
  font-weight: bold;
}

/* .usersFancyDisplaySection1 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: white;
}
.usersFancyDisplaySection1 > div {
  border: 1px solid #000;
  width: 40%;
  padding: 30px;
  cursor: pointer;
  transition-duration: 150px;
  background-color: #fff;
  margin-bottom: 40px;
}
.usersFancyDisplaySection1 > div > section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12px;
}
.usersFancyDisplaySection1 > div > section > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  margin-right: 20px;
}
.usersFancyDisplaySection1 > div:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%)
}
.usersFancyDisplaySection1 h2 {
  text-align: center;
}
.usersFancyDisplaySection1 h1 {
  font-size: 36px;
  text-align: center;
  color: #777;
} */

/* ------- */
.usersFancyDisplaySection1 {
  display: flex;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  /* background-color: white; */
  /* margin-bottom: 20px; */
  padding: 15px 0;
}
.usersFancyDisplaySection1 > div {
  /* border: 1px solid #000; */
  width: 22%;
  height: 125px;
  padding: 15px 25px 15px 35px;
  cursor: pointer;
  transition-duration: 500ms;
  background-color: #fff;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 16%);
  position: relative;
  color: white !important;
}
#All-Users-Selector {
  background-color: #186eb1;
}
#Active-Users-Selector {
  background-color: #61b95b;
}
#Requested-Users-Selector {
  background-color: #fcc910;
}
#Blocked-Users-Selector {
  background-color: #ee405e;
}
.usersFancyDisplaySection1 > div:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  transform: translateY(-5px);
}
.selectedUserSection {
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%) !important;
  /* background-color: #186eb1 !important;
  color: white !important; */
}
.containerUnderline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 25px;
  border-width: 3px;
  border-style: solid;
}
.usersFancyDisplaySection1 > div > section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  /* flex-grow: 1; */
}
.usersFancyDisplaySection1 > div > div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  margin-right: 20px;
}
.usersFancyDisplaySection1 h2 {
  text-align: center;
  margin: 0 !important;
  font-weight: 400 !important;
  font-size: 14px;
  font-weight: bold !important;
}
.usersFancyDisplaySection1 h1 {
  font-size: 40px;
  text-align: center;
  /* color: #777; */
  margin: 0 !important;
  font-weight: bold !important;
}

.usersMainListingSection {
  margin: 0 10px;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 50%);
  background-color: white;
}

.usersSearchSection h2 {
  color: #555;
  margin: 10px;
  font-weight: bold;
  width: 20%;
  font-size: 30px;
  transition-duration: 300ms;
  cursor: pointer;
}
.usersSearchSection h2:hover {
  text-decoration: underline;
}

.usersListSection > table {
  width: 100%;
  border-collapse: collapse;
}
.usersListSection thead {
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
  border-radius: 15px;
  background-color: #333;
}
.usersListSection tr {
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 200ms;
}
.usersListSection tbody tr:hover {
  background-color: rgba(13, 116, 233, 0.151);
}

.usersListSection thead tr {
  border-radius: 15px;
}
.usersListSection th {
  color: white;
  font-size: small;
  height: 50px;
  text-align: center;
}
.usersListSection td {
  text-align: center;
  height: 60px;
  /* border-bottom: 1px solid rgba(119, 119, 119, 0.267); */
}
.usersListSection td div {
  width: 45%;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: bold;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: small;
}
.firstCell {
  border-radius: 10px 0 0 10px;
}
.lastCell {
  border-radius: 0 10px 10px 0;
}
thead .firstCell {
  border-radius: 15px 0 0 15px;
}
thead .lastCell {
  border-radius: 0 15px 15px 0;
}
.suspended {
  background-color: #ff5f1fb4;
  /* background-color: rgba( 155, 39, 176,251); */

  transition-duration: 300ms;
}
.active {
  background-color: #61b95b;
  /* background-color: rgba(238, 62, 49,151); */
  transition-duration: 300ms;
}
.requested {
  background-color: #fcc910;
  transition-duration: 300ms;
}
.blocked {
  background-color: #ee405e;
  transition-duration: 300ms;
}
.ownerCell {
  color: #186eb1;
}
.tenantCell {
  color: #e14eca;
}

.searchSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 40px;
  padding: 0 20px;
}

.searchBarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0;
  border: 2px solid rgba(153, 153, 153, 0.603);
  /* width: 63%; */
  flex-grow: 1;
  cursor: pointer;
  margin-right: 30px;
  border-radius: 8px;
}

.searchBarContainer div {
  padding: 0 15px;
  border-right: 1px solid rgba(119, 119, 119, 0.514);
  color: #777;
  font-weight: bold;
}

.searchBarContainer section {
  padding: 0 15px;
  flex-grow: 1;
}

.searchBarContainer input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 18px;
  /* border-bottom: 1px solid #777; */
  color: #555;
}

.userTypeDropDown {
  padding: 10px;
  width: 170px;
  color: #777;
  border: 2px solid rgba(153, 153, 153, 0.603);
  outline: none;
  /* display: inline-block; */
  box-shadow: 0 3px 10px rgb(0, 0, 0 / 16%);
  margin-right: 25px;
  cursor: pointer;
}

.usersSearchSection button {
  background-color: #555;
  color: white;
  font-weight: bold;
  font-size: 14px;
  height: 41px;
  width: 180px;
  border: none;
  border-radius: 8px;
}
/* .usersSearchSection button.importData {
  background-color: black;
} */

/* /---- MODAL CSS ----/ */

.forBorderRadius {
  border-radius: 15px !important;
  border: none !important;
}

.wholeModal {
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  /* padding: 0 !important; */
  justify-content: space-between;
  align-items: center;
}
.wholeModal .headingSection {
  margin-bottom: 30px;
}
.wholeModal .headingSection h1 {
  color: #555;
  margin-top: 20px;
  font-weight: bold !important;
  font-size: 32px !important;
  display: flex;
  align-items: center;
}
.wholeModal .headingSection img {
  margin-left: 10px;
}
.userDetailSection {
  width: 100%;
}
.userDetailSection > section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDetailSection > section > div {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  width: 50%;
}
.userDetailSection > section > div > p {
  margin-bottom: 0 !important;
  font-size: 16px;
  min-width: 150px;
  color: #555;
  font-weight: bold;
}
.userDetailSection > section > div > input {
  border: none;
  color: #555;
  font-size: 16px;
  padding: 5px 20px;
}
.userDetailSection > section > button {
  width: 180px;
  font-size: 14px;
  font-weight: bold;
  background-color: #186eb1;
  color: white;
  transition-duration: 300ms;
}
.userDetailSection > section > button:hover {
  color: white;
}
.actionsSection {
  width: 100%;
  padding: 0 30px;
}
.actionsSection > h2 {
  font-weight: bold;
  margin-bottom: 20px;
}
.actionsSection > section {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto 20px;
}
.actionsSection p {
  font-size: 16px;
  margin-bottom: 0 !important;
  width: 300px;
  font-style: italic;
}
.actionsSection > section > div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.wholeModal .buttonSection {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 90px 20px 0;
}
.wholeModal .buttonSection2 {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 45px 10px 0;
}
.wholeModal .buttonSection > button {
  width: 200px;
  padding: 10px !important;
  background-color: #555;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
.wholeModal .buttonSection > button:active {
  box-shadow: 0px 3px 10px rgb(0, 0, 0 / 50%) !important;
  transform: translateY(-2px);
  background-color: #61b95b;
}
.actionsSection button {
  width: 120px;
  padding: 6px;
  color: white;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 3px 10px rgb(0 0 0 / 40%);
  margin-right: 20px;
  outline: none;
}
.changingBgBtn {
  background-color: transparent;
  color: #333 !important;
  font-weight: bold;
  transition-duration: 300ms;
}
.ownerChangeBtn {
  background-color: #186eb1;
  transition-duration: 300ms;
}
.tenantChangeBtn {
  background-color: #e14eca;
  transition-duration: 300ms;
}
.visibilityHidden {
  visibility: hidden;
}
.visibilityVisible {
  visibility: visible;
}
.userTypeBtnDiv > button {
  width: 190px;
}
button > i {
  margin-right: 10px;
}

/* Pie Chart Section */

.pieChartSection {
  width: 30%;
  margin: 30px auto 0;
  padding-bottom: 30px;
}
.pieChartSection > h1 {
  color: #555;
  font-size: 32px;
  text-align: center;
  margin: 20px 0 !important;
}

/* Owner Tenant Section */


.userSearchSectionFirstSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}

.ownerTenantMainContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 30px 0; */
  /* margin-bottom: 50px; */
}
.ownerTenantMainContainer > div {
  width: 20%;
  display: flex;
  flex-direction: column  ;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px 20px;
  /* position: relative; */
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 16%); */
  transition-duration: 300ms;
  cursor: pointer;
}
/* .ownerTenantMainContainer > div:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
  transform: translateY(-5px);
} */
.userTypeHeadingDiv {
  flex-grow: 1;
  text-align: center;
}
.ownerTenantMainContainer > div h1 {
  color: #777;
  font-weight: bold;
  font-size: 18px;
}
.ownerTenantMainSection .doughnutChartSection {
  background-color: #e3edf7;
  padding: 30px;
}

.ownerMainSection h1 {
  margin-top: 10px;
  margin-bottom: 0;
}
.tenantMainSection h1 {
  margin-top: 10px;
  margin-bottom: 0;
}
#ownerH1, #ownerCount {
  color: #186eb1 ;
}
#tenantH1, #tenantCount {
  color: #e14eca ;
}
/* /---- Progressive Bar ----/ */

.skill {
  width: 90px;
  height: 90px;
  position: relative;
  transform: rotateZ(-90deg);
}
.outer {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  /* border: 1px solid black; */
  padding: 10px;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}
.inner {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}
#ownerCount,
#tenantCount {
  font-weight: bold;
  color: #555;
  transform: rotateZ(90deg);
}
.ownerMainSection circle {
  fill: none;
  /* stroke: url(#GradientColor); */
  stroke: #186eb1;
  stroke-width: 10px;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: ownerAnim 2s linear forwards;
}
.tenantMainSection circle {
  fill: none;
  /* stroke: url(#GradientColor); */
  stroke: #e14eca;
  stroke-width: 10px;
  stroke-dasharray: 250;
  stroke-dashoffset: 250;
  animation: tenantAnim 2s linear forwards;
}
svg {
  position: absolute;
  top: 0;
  left: 0;
}
@keyframes ownerAnim {
  100% {
    stroke-dashoffset: 87;
  }
}
@keyframes tenantAnim {
  100% {
    stroke-dashoffset: 162;
  }
}





/* /---- Tankers ----/ */


.tankersFancyDisplaySection1 {
  flex-wrap: nowrap;
}

.tankersFancyDisplaySection1 > div {
  width: 30%;
}

.tankersFancyDisplaySection1 > div > section {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.haltServiceDiv button {
  background-color: #ee405e;
  /* border: 3px solid #ee405e; */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 20px;
  width: 220px;
}

.tankerTypeHeadingDiv h1 {
  font-size: 16px !important  ;
}

.skill2, .outer2 {
  width: 90px;
  height: 90px;
}
.outer2 {
  padding: 10px;
}
.inner2 {
  width: 70px;
  height: 70px;
}

.haltServiceDiv button i {
  font-size: 25px;
  margin-right: 20px;
}

.tankersListSection td {
  line-height: 1rem;
}

.timeSpan {
  font-size: 12px;
}

.tankersListSection .lastCell > span {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}

.tankersMainSectionForDoughnut circle {
  stroke-width: 10px;
}